@import url('https://fonts.googleapis.com/css?family=Kameron');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');


.App, html {
  background-color: rgb(243, 236, 236);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Intro */
.photo {
    height: 600px;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 30px;
}

.info {
    display: inline-block;
    font-size: 30px;
    font-family: 'Kameron', serif;
    
}

.description {
  height: 280px;
  text-align: left;
  border-radius: 20px;
  font-size: 20px;
  outline: none;  
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  padding: 25px;
  box-shadow:  inset 5px 5px 10px rgb(4, 124, 34), 
  inset -5px -5px 10px rgb(4, 124, 34);
  background-color: rgb(250, 246, 246);
  margin-top: 20px;
  color: rgb(5, 5, 5);

}

.intro {
  margin-top: 80px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left:auto;
}

#skills {
  margin-bottom: 50px;
}

.bio {
  text-align: center;
  
}
.namefont  {
  font-size: 60px;
  
}

.position {
  font-size: 45px;
}

/* Navbar designs */
.my-navbar {
  background-color: rgb(4, 124, 34);
  font-family: 'Orbitron', sans-serif;
  box-shadow: 2px 2px 7px 7px #999;
  width: 100%;
  height: 50px;
  
}

.mynavlinks {
  color: white !important;
  font-size: 20px !important;
  width: 80px;
  margin-top: 20px;
}

.myname {
  font-size: 22px !important;
  color: white !important;
}

.col-sm-4, .col-md-10, .col-lg-12 {
  width: auto !important;
}
.blackbar {
  background-color: black;
  height: 5px;
  width: 410px; 
  display: inline-block;
  margin-top: 30px;
}

.headers {
  display: inline-block;
  font-size: 50px;
  font-weight: 800;
}
.message {
  font-size: 19px;
  margin-top: -5px;
}
.name {
  width: 100%;
}

.initials {
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 38px;
  width: 90px;
  padding-top: 18px;
  height: 90px;  
}

.navbar {
  padding: 0.2em! important;
}

.navbar-expand .navbar-collapse {
  display: inline!important;
  flex-basis: auto;
}

.collapse:not(.show) {
  display: contents;
}

/* Skills Section */
.language-circle {
  border-radius: 50%;
  background-color: rgb(4, 124, 34);
  color: white;
  font-size: 38px;
  width:150px;
  padding-top: 18px;
  height: 150px;  
}
.progressbar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  width: 300px;
  display: inline-block;
  width: 80%;
}

.progressbar>div {
  background-color: rgb(4, 124, 34);
  height: 20px;
  border-radius: 10px;
}
.navdesign {
  margin-right:auto;
  margin-left: auto;
}
/* Projects Section*/

.projectbtn {
  width: 200px;
  background-color: rgb(4, 124, 34);
  border-radius: 10px;
  outline: none;
  border: 2px solid black;
  margin: 10px;
  height: 35px;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white;
  font-size: 20px;
}
.project-details {
  height: 500px;
  text-align: left;
  border-radius: 20px;
  font-size: 20px;
  outline: none;  
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  padding: 25px;
  box-shadow:  inset 5px 5px 10px rgb(4, 124, 34), 
  inset -5px -5px 10px rgb(4, 124, 34);
  background-color: rgb(250, 246, 246);
  margin-top: 20px;
  color: rgb(5, 5, 5);
  position: relative;
}

.project-details > img {
  width: 500px;
  border-radius: 10px;
  background-color:rgb(192, 185, 185);
}
.project-details > p {
  text-align: left !important;
}

.project-description {
  width: 530px;
  display: inline-block;
  text-align: justify;
}
/* for mobile-phone view */
@media only screen and (max-width: 599px) {
  .photo {
    height: 320px;
    margin-right: auto;
    margin-left: auto;
  }
  .initials{
    display: none;
  }

  .namefont  {
    font-size: 40px;
  }
  
  .position {
    font-size: 30px;
  }
  .myname {
    font-size: 18px !important;
  }
  *, ::after, ::before {
    box-sizing: initial!important;
  }
  .headers {
    display: inline-block;
    font-size: 30px;
  
  }
  .blackbar {
    background-color: black;
    height: 5px;
    width: 100px; 
    display: inline-block;
    margin-top: 15px;
  }
  .description {
    font-size: 20px;
  }
  .mobile-skills {
    padding-top: 50px;
  }
  .description {
    height: 700px;
  }
  .nav-design {
    background-color: rgb(231, 227, 227) !important;
    width: 100%;
  }
  .mynavlinks {
    margin-left: 0 !important;
  }
}

/* for mobile-tablet view */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .photo {
    height: 400px;
  }
  .namefont  {
    font-size: 50px;
  }

  .position {
    font-size: 40px;
  }
  .myname {
    font-size: 25px !important;
  }
  .blackbar {
    background-color: black;
    height: 5px;
    width: 180px; 
    display: inline-block;
    margin-top: 30px;
  }
  .description {
    height: 400px;
  }
}

/* for ipadpro view */
@media only screen and (min-width: 1024px) and (max-width: 1324px){
  .photo {
    margin-right: 120px;
    height: 500px;
  }
  .blackbar {
    background-color: black;
    height: 5px;
    width: 300px; 
    display: inline-block;
    margin-top: 30px;
  }
  .description {
    height: 300px;
  }

}


/* for computer view */
@media only screen and (min-width: 1325px) {
  .photo {
    margin-right: 120px;
  }
}

